.content {
    width: 1280px;
    margin: 0 auto;
}

.header {
    height: 68px;
    margin: 0 auto;
    text-align: center;
}

.nav-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 68px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    margin: 0 30px;
}

.nav-item a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 68px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}

.main {
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin-top: 48px;
    margin-bottom: 38px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

input {
    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
    border-width: 0px;
}

.footer {
    padding-top: 82px;
    text-align: right;
    padding-right: 105px;
    padding-bottom: 29px;
}

.footer span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
